body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(164, 255, 247), rgb(89, 137, 241));

}

.container {
    border: 2px solid #000;
}

.controls {
    margin-top: 20px;
}

